
body {
    margin: 0;
    padding: 0;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
} 


footer {
  right: 0;bottom:0;left:0;
  padding: 8%;
}

footer ul {
	margin: 0 auto;
	text-align: center;
}

/* base color styling */

p, ul, li, a {
	color: #32373B;
	font-size:1.1em;
}


button {
	display: inline-block;
	border: none;
	padding: 1rem 2rem;
	margin: 25px 0;
	text-decoration: none;
	background: #457b9d;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* styles for list items and navigation */

.inline-block {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
	
}


.inline-block li a {
	text-decoration: none;
	padding:15px 25px;
	z-index: 1;
}

.inline-block li a:hover {
	color: #DBD3D8;
	-webkit-transition: color 1s;
	transition: color 1s;
}

.logo {
	margin:0 auto;
	width: 22%;
	padding:1%;
	text-align: center;
	
}
.logo img {
	width: 100px;
	vertical-align: top;
}

nav {
	width:73%;
	padding:1%;
}

ul {
	width:50%;
	margin-left:auto;
}
/* end styles for list items and navigation */

/* styling for hero */

.heroImg {

  	position: relative;
  	width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/heroImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.heroContent {
    position: relative;
}

.heroTitle {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #ffffff;
	font-family: 'Merriweather', serif;
	font-weight: black 900;
}

.heroSubtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    color: #ffffff;
    text-align: center;
}


/* hero hover arrow animation */

img {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  margin: 0 auto;
  width: 80px;
  height: auto;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 80px;
  height: 80px;
  backface-visibility: hidden;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 500px) {
	.container {
		display: block;
	}
}

/* end hero styling */ 

/* media queries */

@media screen and (min-width: 480px) {

}


























