@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Merriweather:ital,wght@0,700;0,900;1,400;1,700&family=Montserrat:wght@200;300;600;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', 'Montserrat', sans-serif;
    font-size: 20px;
    color: #32373b;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  width: 100%;
  text-align: center;
} 


footer {
  right: 0;
  bottom:0;
  left:0;
  padding: 8%;
}

footer ul {
	margin: 0 auto;
	text-align: center;
}

									
button {
	display: inline-block;
	border: none;
	padding: 1rem 2rem;
	margin: 25px 0;
	text-decoration: none;
	background: #457b9d;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
}


/* flexible navigation styles */

.open {
color: #32373B;
font-size: 40px;
float: left;
margin: 1em 1em;
display: block;	
cursor: pointer;
}

.nav {
	width: 0;
	overflow-x: hidden;
	height: 100vh;
	z-index: 1;
	position: fixed;
	background-color: #f6ae2d;
	opacity: 90%;
	transition: 0.5s;
	display: block;
}

.close {
	float:left;
	margin: 1em 0 0 1em;
}

.nav a {
	clear: left;
	color: white;
	display: block;
	font-size: 1.5em;
	text-decoration: none;
	padding: 1em 0;
	transition: 0.3s;
}



.nav a:not(:first-child):hover {
	background-color: #32373b;
}




.inline-block {
	display: inline-block;
	vertical-align: bottom;
	padding:5px;
}

.logo {
	
	width: 22%;
	padding:1%;
	vertical-align: middle;

}


.heroImg {

  	position: relative;
  	width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/heroImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.heroContent {
    position: relative;
   	text-align: center;
   	margin-bottom: 45px;
}

.heroTitle {
    font-size: 3.5rem;
    margin-bottom: 0;
    color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.heroSubtitle {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    color: #ffffff;
    text-align: center;
}


/* hero hover arrow animation */

img {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  margin: 0 auto;
  width: 80px;
  height: auto;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 80px;
  height: 80px;
  backface-visibility: hidden;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}



/* end hero styling */ 

/* media queries */

@media only screen and (min-width: 480px) {
		.heroTitle {
		font-size: 2.5rem;
		padding:10px;
	}

	.heroSubtitle {
		 font-size: 1.2rem;
	}
}



















